{% extends "layout.html" %}
{% block content %}

    <form class="clearfix" style="vertical-align: bottom;">
        <p>
            We are launching soon! <br/>
            Signup to get notified when we launch.
        </p>
        <div class="input-control text size3" data-role="input-control">
            <input type="text" placeholder="your@email.com">
        </div>
        <div class="input-control text size2" data-role="input-control">
            <input type="submit" value="Subscribe">
        </div>
    </form>

{% endblock %}
